<div class="main">
    <div class="title">
        <h2>Diego Juan Isaquiel<span class="dot">.</span></h2>
        <p>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Desenvolvedor Front-end' : 'Front-end Developer'}}</p>
    </div>
    <div class="cta">
        <h3>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Siga-me' : 'Follow me'}}</h3>
        <div class="social-media-container">
            <a href="https://www.linkedin.com/in/diegojuanisaquiel/"  target="_blank" class="link-item">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg" alt="LinkedIn"/>
            </a>
            <a href="https://github.com/DiegoJuanIsaquiel"  target="_blank" class="link-item">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Github"/>
            </a>
            <a href="https://www.behance.net/diegoisaquieldesign"  target="_blank" class="link-item">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/behance/behance-plain.svg" alt="Behance"/>
            </a>
        </div>
    </div>
    <hr>
    <div class="copyrights">
        <p>Copyright &copy; 2022 {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Todos os direitos reservados' : 'All rights reserved'}} | Diego Juan Isaquiel - {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Desenvolvedor Front-end' : 'Front-end Developer'}}</p>
    </div>
</div>