.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.2vh 6.4vw;

    .left-content{

    }

    .middle-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3.2vw;

        .link-item{
            font-size: 1vw;
            font-weight: 600;

            cursor: pointer;

            &.selected p,
            &:hover {
                color: var(--default-secondary-color);
                text-shadow: 0vw 0vw 3vw var(--light-secondary-color);

                transition: color 0.3s;
                transition: text-shadow 0.8s;
            }
        }
    }

    .right-content{
        button{
            background: none;
            border: 3px solid var(--grey00);
            border-radius: 0.6vw;

            cursor: pointer;

            display: flex;
            align-items: center;
            gap: 0.6vw;

            color: var(--grey00);
            font-weight: 700;
            font-size: 0.7vw;
            font-family: 'Lexend', sans-serif !important;

            padding: 0.8vh 0.6vw;

            nb-icon{
                width: 1.4vw;
                color: var(--grey00);
            }

            &:hover{
                background: var(--grey00);
                color: var(--primary-color);

                transition: 0.4s;

                box-shadow: 0 0 3vw #F2F2F260;

                nb-icon{
                    color: var(--primary-color);
                    transition: 0.4s;
                }
            }
        }
    }
}