<section class="section-navbar">
    <app-navbar></app-navbar>
</section>

<section class="hero-section">
    <div class="left-content">
        <div class="title-container">
            <h3>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Seja bem-vindo(a)!' : 'Welcome'}}</h3>
            <h1>
                {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Meu nome é' : 'Im'}}
                <span>Diego Isaquiel</span> {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'e sou' : 'and I am'}}
                <span>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Desenvolvedor Front-end' : 'Front-end Developer'}}</span>
            </h1>
            <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else englishHeroParagraph">
                <h4>
                    Explore meu portfólio e descubra uma coleção de projetos criativos que mostram minhas habilidades e paixão pela arte, design e desenvolvimento.
                    Fique à vontade para navegar e conhecer mais sobre meu trabalho.
                </h4>
            </div>
            <ng-template #englishHeroParagraph>
                <h4>
                    Explore my portfolio and discover a collection of creative projects that showcase my skills and passion for art, design, and development.
                    Feel free to browse and learn more about my work.
                </h4>
            </ng-template>
        </div>
        <div class="button-container">
            <button>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Saiba mais' : 'See more'}}</button>
            <a href="#">{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Veja meu Curriculum Vitae' : 'Download CV'}}</a>
        </div>
    </div>
    <div class="right-content">
        <img src="../../../assets/diego_isaquiel_developer_image.png">
        <div class="background-shape"></div>
    </div>
</section>

<section class="about-me-section">
    <div class="left-content">
        <div class="title-heading">
            <h3>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Sobre mim' : 'About me'}}</h3>
        </div>
        <div class="text-paragraph">
            <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else englishAboutMeParagraph">
                Olá, meu nome é Diego Isaquiel, sou um desenvolvedor front-end e sou um profissional em busca de desafios e oportunidades de crescimento.
                Desde cedo, sempre fui apaixonado por tecnologia e como ela pode mudar a vida das pessoas. Foi essa paixão que me levou a estudar programação e
                a buscar experiências em empresas de tecnologia.<br><br>
                Ao longo dos anos, desenvolvi habilidades em diferentes áreas da tecnologia, incluindo design gráfico, desenvolvimento de softwares, UX/UI design e outras.
                Mas além das habilidades técnicas, também sou uma pessoa comunicativa e colaborativa, sempre disposta a ajudar minha equipe a alcançar seus objetivos. Minha criatividade
                me permite encontrar soluções inovadoras para problemas e agregar valor aos projetos.<br><br>
                Atualmente estou cursando Engenharia de Computação no Centro Universitário Facens em Sorocaba - SP e meus objetivos profissionais
                estão relacionados ao crescimento pessoal e profissional, sempre buscando aprender e aprimorar minhas habilidades.
            </div>
            <ng-template #englishAboutMeParagraph>
                Hello, my name is Diego Isaquiel, I am a front-end developer and a professional who is seeking challenges and growth opportunities.
                Since an early age, I have always been passionate about technology and how it can change people's lives. It was this passion that led me to study programming
                and to seek experiences in technology companies.<br><br>
                Over the years, I have developed skills in different areas of technology, including graphic design, software development, UX/UI design, and others.
                But in addition to technical skills, I am also a communicative and collaborative person, always willing to help my team achieve their goals. My creativity
                allows me to find innovative solutions to problems and add value to projects.<br><br>
                Currently, I am pursuing a degree in Computer Engineering at Facens University Center in Sorocaba - SP and my professional goals
                are related to personal and professional growth, always seeking to learn and improve my skills.
            </ng-template>
        </div>
        <div class="skills">
            <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Minhas habilidades' : 'My skills'}}</h4>

            <div class="skills-container">
                <div class="skill-item">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="Typescript" id="typescript"/>
                </div>
                <div class="skill-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular Framework"  id="angular"/>
                </div>
                <div class="skill-item">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" alt="NestJs"  id="nestJs"/>
                </div>
                <div class="skill-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Adobe_Photoshop_CC_icon.svg" alt="Adobe Photoshop"  id="photoshop"/>
                </div>
                <div class="skill-item">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Adobe_Illustrator_CC_icon.svg" alt="Adobe Illustrator"  id="illustrator"/>
                </div>
                <div class="skill-item">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma"  id="figma"/>
                </div>
            </div>
        </div>
    </div>

    <div class="right-content">
        <div class="skill-box vertical">
            <div class="heading">
                <div class="icon">
                    <nb-icon icon="globe-outline"></nb-icon>
                </div>
                <h4>Web app</h4>
            </div>
            <div class="description">
                <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else webAppEnglishDescription">
                    <p>Tenho experiência com desenvolvimento de sites e aplicações web utilizando linguagens com HTML, CSS e JavaScript, bem como em frameworks como Angular e React,
                        desenvolvo soluções que atendem às necessidades dos usuários e dos negócios</p>
                </div>
                <ng-template #webAppEnglishDescription>
                    <p>I have experience with developing websites and web applications using languages such as HTML, CSS and JavaScript, as well as in frameworks such as Angular and React,
                        I develop solutions that meet the needs of users and businesses</p>
                </ng-template>
            </div>
        </div>
        <div class="skill-box horizontal">
            <div class="heading">
                <div class="icon">
                    <nb-icon icon="smartphone-outline"></nb-icon>
                </div>
                <h4>Mobile app</h4>
            </div>
            <div class="description">
                <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else mobileAppEnglishDescription">
                    <p>Tenho experiência no desenvolvimento de aplicativos móveis para Android e iOS. Sou capaz de criar interfaces de usuário atraentes e funcionais,
                        além de implementar recursos avançados, como integração com APIs, e notificações push. Também tenho conhecimento em tecnologias como Ionic e React Native.</p>
                </div>
                <ng-template #mobileAppEnglishDescription>
                    <p>I have experience in developing mobile apps for Android and iOS. I can create attractive and functional user interfaces and implement advanced
                        features such as API integration and push notifications. I also have knowledge in technologies like Ionic and React Native.</p>
                </ng-template>
            </div>
        </div>
        <div class="skill-box horizontal">
            <div class="heading">
                <div class="icon">
                    <nb-icon icon="layers-outline"></nb-icon>
                </div>
                <h4>UI/UX Design</h4>
            </div>
            <div class="description">
                <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else uiUXEnglishDescription">
                    <p>
                        Tenho experiência em design de interface do usuário (UI) e experiência do usuário (UX). Trabalhei em projetos que envolviam criação de
                        protótipos, testes com usuários e melhoria da usabilidade de aplicativos e sites.
                    </p>
                </div>
                <ng-template #uiUXEnglishDescription>
                    <p>I have experience in user interface (UI) and user experience (UX) design. I worked on projects involving prototyping, user testing and
                        improving the usability of apps and websites.
                    </p>
                </ng-template>
            </div>
        </div>
        <div class="skill-box vertical">
            <div class="heading">
                <div class="icon">
                    <nb-icon icon="layout-outline"></nb-icon>
                </div>
                <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Prototipagem e' : 'Prototyping and'}} Wireframing</h4>
            </div>
            <div class="description">
                <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else prototypingEnglishDescription">
                    <p>Como desenvolvedor de UI/UX, tenho experiência em criar protótipos e wireframes para diversos projetos. Utilizo o Figma para desenvolver
                        protótipos interativos que permitem validar e testar soluções de design antes da implementação final.
                    </p>
                </div>
                <ng-template #prototypingEnglishDescription>
                    <p>As a UI/UX developer, I have experience creating prototypes and wireframes for several projects. I use Figma to develop interactive prototypes
                        that allow me to validate and test design solutions before final implementation.</p>
                </ng-template>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section">
    <div class="title-heading">
       <h3> {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Meu Portfólio' : 'My Portfolio'}} </h3>
    </div>
    <div class="navigation-bar">
        <h4 class="navigation-item selected">
            {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Aplicações web' : 'Web applications'}}
        </h4>
        <h4 class="navigation-item">
            {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Aplicações Mobile' : 'Mobile applications'}}
        </h4>
        <h4 class="navigation-item">
            UI / UX Design
        </h4>
        <h4 class="navigation-item">
            {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Ver mais' : 'View More'}}
        </h4>
    </div>
    <div class="projects-container">
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
        <ng-container>
            <app-project-card></app-project-card>
        </ng-container>
    </div>
</section>

<section class="soft-skills-section">
    <div class="title-centered">
        <h3>Soft Skills</h3>
    </div>
    <div class="skills-container">
        <div class="skill-item">
            <div class="icon-box">
                <nb-icon icon="message-circle-outline"></nb-icon>
            </div>
            <div class="text-description">
                <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Comunicativo' : 'Communicative'}}</h4>
                <p>
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ?
                        'Gosto de encontrar maneiras criativas de me comunicar e transmitir ideias.' :
                        'I enjoy finding creative ways to communicate and convey my ideas.'}}
                </p>
            </div>
        </div>
        <div class="skill-item">
            <div class="icon-box">
                <nb-icon icon="activity-outline"></nb-icon>
            </div>
            <div class="text-description">
                <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Flexível' : 'Flexible'}}</h4>
                <p>
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ?
                        'Sou uma pessoa versátil, capaz de atuar em diferentes áreas e projetos.' :
                        'I am a versatile person, able to work in different areas and projects.'}}
                </p>
            </div>
        </div>
        <div class="skill-item">
            <div class="icon-box">
                <nb-icon icon="people-outline"></nb-icon>
            </div>
            <div class="text-description">
                <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Colaborativo' : 'Collaborative'}}</h4>
                <p>
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ?
                        'Sou capaz de trabalhar em conjunto com diferentes perfis profissionais' :
                        'I am able to work together with different professional profiles.'}}
                </p>
            </div>
        </div>
        <div class="skill-item">
            <div class="icon-box">
                <nb-icon icon="bulb-outline"></nb-icon>
            </div>
            <div class="text-description">
                <h4>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Criativo' : 'Creative'}}</h4>
                <p>
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ?
                        'A criatividade me permite agregar valor e originalidade aos projetos.' :
                        'My creativity allows me to add value and originality to projects.'}}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="cta-section">
    <div *ngIf="selectedLanguage === languagesEnum.PORTUGUESE; else ctaEnglishMessage">
        <h3> Vamos trabalhar juntos?</h3>
        <p>Estou animado para trabalhar em conjunto, acreditando que somando forças, alcançaremos o sucesso!</p>
    </div>
    <ng-template #ctaEnglishMessage>
        <h3>Let's work together</h3>
        <p>I'm excited to work together, believing that by joining forces, we will achieve success.</p>
    </ng-template>
</section>

<section class="contact-section">
    <div class="left-content">
        <div class="contact-item">
            <div class="icon-box">
                <nb-icon icon="phone" pack="eva"></nb-icon>
            </div>
            <div class="text-container">
                <h3>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Ligue' : 'Call me'}}</h3>
                <p>+55 (15) 99646-2437 / +55 (15) 99131-5336</p>
            </div>
        </div>
        <div class="contact-item">
            <div class="icon-box">
                <nb-icon icon="inbox" pack="eva"></nb-icon>
            </div>
            <div class="text-container">
                <h3>{{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Envie uma mensagem' : 'Mail me'}}</h3>
                <p>contato@diegoisaquiel.dev.com</p>
            </div>
        </div>

    </div>

    <div class="right-content">
        <form class="form-container">
            <input type="text" [placeholder]="selectedLanguage === languagesEnum.PORTUGUESE ? 'Digite seu nome' : 'Enter your name'">
            <input type="email" [placeholder]="selectedLanguage === languagesEnum.PORTUGUESE ? 'Digite seu e-mail' : 'Enter your email'">
            <textarea   type="text"
                        [placeholder]="selectedLanguage === languagesEnum.PORTUGUESE ? 'Escreva sua mensagem...' : 'Write your message...'"
                        ></textarea>

            <button type="submit">
                {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Enviar' : 'Submit'}}
            </button>
        </form>
    </div>
</section>

<footer>
    <app-footer></app-footer>
</footer>