.hero-section {
  display: flex;
  justify-content: space-between;

  padding: 6.4vw;

  .left-content {
    width: 40vw;

    .title-container {
      margin: 3.2vw 0;

      h3 {
        font-size: 1.4vw;
        margin: 0.2vh;
      }

      h1 {
        font-size: 2.4vw;
        margin: 0;

        span {
          color: var(--light-secondary-color);
          text-shadow: 0 0 4vw var(--light-secondary-color-40);
        }
      }

      h4 {
        font-size: 1.2vw;
        color: var(--grey60);
        margin: 0;
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      gap: 1.8vw;

      button {
        background: none;
        border: 2px solid var(--light-secondary-color);
        border-radius: 0.4vw;

        cursor: pointer;
        color: var(--light-secondary-color);
        font-weight: 600;

        padding: 1.4vh 1.8vw;

        &:hover {
          background: var(--light-secondary-color);
          color: var(--primary-color);

          transition: 0.4s;
        }
      }

      a {
        color: var(--light-secondary-color);
        font-size: 0.8vw;

        position: relative;

        &:hover:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.4vh;
          width: 0;
          border-bottom: solid 2px var(--light-secondary-color);
          animation: border_anim 0.4s linear forwards;
        }
      }
    }
  }

  .right-content {
    position: relative;

    img {
      width: 16vw;
    }

    .background-shape {
      border-radius: 8vw 0.3vw 0.3vw 0.3vw;

      width: 18vw;
      height: 25vw;

      background-color: var(--light-secondary-color);

      position: absolute;
      bottom: 0.2vw;
      right: 0;

      z-index: -1;

      &::before {
        content: '';

        background: var(--light-secondary-color);
        width: 0.2vw;
        height: 12vw;

        position: absolute;
        right: -1vw;
        top: 50%;
      }
    }
  }

}

.about-me-section {
  display: flex;
  justify-content: space-between;

  padding: 6.4vw;

  .left-content {
    width: 45%;

    .text-paragraph {
      font-size: 1vw;
    }

    .skills {
      h4 {
        color: var(--light-secondary-color);
        font-size: 1.2vw;
        margin: 3.2vh 0;
      }

      &-container {
        display: flex;
        align-items: center;
        gap: 0.8vw;
      }

      .skill-item img {
        border-radius: 0.6vw;
        width: 3.2vw;

        &#figma,
        &#nestJs,
        &#angular {
          background: var(--primary-color);
          padding: 0.6vw;
        }
      }
    }
  }

  .right-content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8vw;

    .skill-box{
      background: radial-gradient(100% 100% at 50% 0%, #2B2C36 0%, #21222D 100%);
      border-radius: 0.8vw;

      padding: 1.2vw;

      .heading{
        display: flex;
        align-items: center;
        gap: 1.2vw;

        .icon nb-icon{
          background-color: var(--light-secondary-color);
          border-radius: 50%;

          width: 3.2vw;
          padding: 0.8vw;
        }

        h4{
          font-size: 1vw;
        }
      }

      .description p{
        font-size: 0.8vw;
      }

      &.vertical{
        width: 20vw;
        height: 16vw;
      }

      &.horizontal{
        width: 20vw;
        height: 11.6vw;
      }

      &:nth-child(2){
        margin-top: 5vw;
      }

    }
  }

}

.portfolio-section {
  padding: 3.2vw 6.4vw;

  .navigation-bar{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
    align-items: center;
    gap: 1.2vw;

    font-size: 1vw;

    h4{
      cursor: pointer;
      margin: 0;

      &.selected{
        color: var(--light-secondary-color);
      }

      &:last-child{
        color: var(--light-secondary-color);
        justify-self: end;
        font-weight: 400;

        position: relative;

        &:hover:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.4vh;
          width: 0;
          border-bottom: solid 2px var(--light-secondary-color);
          animation: border_anim 0.4s linear forwards;
        }
      }
    }
  }

  .projects-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.8vw;

    padding: 2.4vw 0;
  }
}

.soft-skills-section{
  padding: 3.2vw 6.4vw;

  .title-centered{
    text-align: center;
    color: var(--light-secondary-color);
    font-size: 1.2vw;
  }

  .skills-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2vw;

    .skill-item{
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: 0.6vw;
      background-color: var(--light-secondary-color);
      padding: 0.6vw;

      width: 16.2vw;

      .icon-box nb-icon {
        width: 6.4vw;
      }

      .text-description{
        text-align: center;

        h4{
          font-size: 1.2vw;
          margin: 0.4vw;
        }

        p{
          font-size: 0.8vw;
        }
      }
    }

  }
}

.cta-section{
  background-color: var(--default-secondary-color);
  border-radius: 0.8vw;
  margin: 6.4vw;
  padding: 3.2vw;

  h3 {
    font-size: 1.6vw;
    margin: 0;
  }

  p{
    color: var(--primary-color);
    font-size: 1.2vw;
    margin: 0;

    width: 45%;
  }
}

.contact-section{
  display: flex;
  justify-content: space-between;

  padding: 6.4vw;

  .left-content{
    .contact-item{
      display: flex;
      align-items: flex-start;
      gap: 1.8vw;
      margin: 1.2vw;

      .icon-box{
        background-color: var(--light-secondary-color);
        border-radius: 0.8vw;
        padding: 0.8vw;

        nb-icon{
          width: 2.4vw;
        }
      }

      .text-container{
        h3{
          font-size: 1vw;
        }

        p{
          font-size: 0.8vw;
        }
      }
    }
  }

  .right-content {
    width: 30vw;

    .form-container {
      display: flex;
      flex-direction: column;

      gap: 1.2vw;

      input, textarea{
        background: var(--grey00);

        border: none;
        border-radius: 0.4vw;

        padding: 0.8vw;

        &::placeholder{
          font-family: 'Lexend', sans-serif;
          font-size: 0.8vw;
        }
      }

      textarea{
        height: 6.4vw;
        resize: none;
      }

      button{
        background: var(--default-secondary-color);
        border: none;
        border-radius: 0.4vw;

        color: var(--grey00);
        cursor: pointer;
        font-family: 'Lexend', sans-serif;
        font-size: 0.8vw;

        padding: 1vw;

        &:hover{
          background-color: var(--dark-secondary-color);
          transition: 0.2s;
        }
      }
    }
  }

}

section {
  .title-heading {
    position: relative;

    h3 {
      color: var(--light-secondary-color);
      font-size: 1.8vw;
    }

    &::before {
      content: '';

      background-color: var(--light-secondary-color);
      border-radius: 0.1vw;

      position: absolute;
      top: -3vh;

      width: 5%;
      height: 0.6vw;
    }
  }
}

app-footer {
  width: 100VW;

  z-index: 10;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}