<section class="section-navbar">
    <app-navbar (navbarEmitter)="goToHomePage($event)"></app-navbar>
</section>

<section class="hero-section">
    <div class="left-content">
        <div class="first-image">
            <img src="https://www.10wallpaper.com/wallpaper/3840x2400/1809/Planet_Galaxy_Universe_4K_High_Quality_3840x2400.jpg" alt="">
        </div>
        <div class="second-image">
            <img src="https://img.freepik.com/fotos-premium/ilustracao-3d-do-corredor-futurista-roxo-em-qualidade-4k-uhd_129677-2573.jpg?w=2000" alt="">
        </div>
        <div class="third-image">
            <img src="https://img.freepik.com/fotos-premium/papeis-de-parede-de-cenario-verde-4k-ia-generativa-alta-qualidade_727523-1237.jpg?w=2000" alt="">
        </div>
        <div class="fourth-image">
            <img src="https://www.10wallpaper.com/wallpaper/1366x768/2004/Red_Porsche_Supercar_2020_High_Quality_Desktop_1366x768.jpg" alt="">
        </div>
        <div class="fith-image">
            <img src="https://www.10wallpaper.com/wallpaper/1366x768/1712/Hawaii_beach_coast_palm_4K_High_Quality_1366x768.jpg" alt="">
        </div>
    </div>
    <div class="right-content">
        <div class="title-heading">
            <h1>Sigefis - Sistema de Gestão e Fiscalização</h1>
        </div>
        <div class="text-paragraph">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia delectus quisquam ratione aperiam quo magnam inventore ab repudiandae reiciendis ex natus, amet nam non quibusdam sapiente eligendi fuga dicta esse!
            </p>
        </div>
        <div class="programming-languages">
            <h3>
                {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Linguagens em uso:' : 'Languages in use:'}}
            </h3>
            <ng-container>
                <p>Angular</p>
            </ng-container>
        </div>
        <div class="buttons-container">
            <button class="outline">
                <a href="#" target="_blank">
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Ver no Github' : 'View on Github'}}
                </a>
            </button>
            <button class="filled" [disabled]="false">
                <a href="">
                    {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Ver online' : 'See online'}}
                </a>
            </button>
        </div>
    </div>
</section>