<main>
    <div class="container">
        <div class="maior-menor-media">
            <div class="textos">
                <span>Maior valor de corrente</span>
                <span class="periodo">Nas últimas 24h</span>
                <span class="values">{{highestValueRegistered}}mA</span>
            </div>
        </div>

        <div class="maior-menor-media">

            <div class="textos">
                <span>Menor valor de corrente</span>
                <span class="periodo">Nas últimas 24h</span>
                <span class="values">{{lowestValueRegistered}}mA</span>
            </div>
        </div>

        <div class="maior-menor-media">

            <div class="textos">
                <span>Média dos valores de corrente</span>
                <span class="periodo">Nas últimas 24h</span>
                <span class="values">{{averageOfValuesRegistered}}mA</span>
            </div>
        </div>
    </div>

    <div class="graficos">

        <div class="charts">
            <div class="line" [chart]="lineChart"></div>
        </div>
    </div>
</main>