<div class="main">
    <div class="image-container">
        <img [src]="projectList.imageUrl">
    </div>
    <div class="title-project">
        <h3>{{projectList.name}}</h3>
    </div>
    <div class="tags-list">
        <p *ngFor="let item of projectList.tags" [style.background-color]="item.backgroundColor || '#8D9197'">
            {{item.name}}
        </p>
    </div>
    <div class="description">
        <p>
            {{projectList.description}}
        </p>
    </div>
    <div class="buttons-container">
        <button class="outline">
            {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Visualizar' : 'Preview'}}
        </button>
        <button class="filled">
            {{ selectedLanguage === languagesEnum.PORTUGUESE ? 'Ver detalhes' : 'See details'}}
        </button>
    </div>
</div>
