/** Css **/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: 0;
}

html {
    font-size: 10px !important;

    @media (max-width: 768px) {
        overflow-y: scroll;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: unset;

        overflow: auto;

        min-height: unset !important;
        min-width: unset !important;

        margin: 0;
        padding: 0;
    }

    min-height: unset !important;
    min-width: unset !important;

}

a {
    text-decoration: none;
}

:root {
    --background-color: #141419;
    --primary-color: #191A21;

    --dark-secondary-color: #2C71B6;
    --default-secondary-color: #4993DB;
    --light-secondary-color: #4BAEE7;
    --light-secondary-color-40: #4BAEE740;

    --grey80: #1F2128;
    --grey60: #40444B;
    --grey40: #6A6D76;
    --grey20: #8D9197;
    --grey00: #F2F2F2;
}