/** Css **/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: 0;
}

html {
    font-size: 10px !important;

    @media (max-width: 768px) {
        overflow-y: scroll;
    }

    body {
        font-family: 'Lexend', sans-serif;
        font-size: unset;
        background-color: var(--background-color);
        color: var(--grey00);

        overflow: auto;

        min-height: unset !important;
        min-width: unset !important;

        margin: 0;
        padding: 0;
    }

    min-height: unset !important;
    min-width: unset !important;

}

a {
    text-decoration: none;
}

:root {
    --background-color: #141419;
    --primary-color: #191A21;

    --dark-secondary-color: #2C71B6;
    --default-secondary-color: #4993DB;
    --light-secondary-color: #4BAEE7;
    --light-secondary-color-40: #4BAEE740;

    --grey80: #1F2128;
    --grey60: #40444B;
    --grey40: #6A6D76;
    --grey20: #8D9197;
    --grey00: #F2F2F2;
}